@import "tailwindcss";
@import "@nuxt/ui";

html {
  background: #020617;
  scrollbar-width: none;
}

body {
  min-width: 320px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

button,
a,
summary,
[role="button"],
[data-clickable="true"] {
  cursor: pointer;
}

button:disabled,
[aria-disabled="true"] {
  cursor: not-allowed;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
